body {
    background-color: aquamarine;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; /* horizontal alignment */
    align-content: space-around; /* vertical alignment */
}
.map {
    width: 400px;
}

.textbox {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1.5em;
    padding: 1.5em;
    /* width: 40%; */
}
#instructions {
    width: 400px;

    height: 200px;
    text-align: left;
    /* overflow: auto; */
    word-wrap: break-word;
}
